* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	height: 100vh;
	background-color: #48E;
	text-align: center;
}

.centrar-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

#contenedor {
	border: 5px solid black;
	height: 400px;
	width: 400px;
	background-color: #fff;
	flex-wrap: wrap;
	flex-direction: column;
	border-radius: 50%;
}

#color {
	font-size: 70px;
	font-weight: bold;
}

button {
	font-size: 30px;
	color: white;
	border-radius: 20px;
	background-color: #48E;
	cursor: pointer;
	margin: 15px;
	transition-duration: 0.4s;
	padding: 10px 30px;
	border: #48E;
	user-select: none;
}

button:hover {
	background-color: #05455a;
}
